SK_OPENAI_APIKEY = <<your OpenAI API Key>>
SK_OPENAI_ENDPOINT = <<your OpenAI Endpoint>>
SK_OPENAI_CHATCOMPLETION_DEPLOYMENT_DEFAULT = <<your ChatCompletion deployment name>>
SK_OPENAI_EMBEDDING_DEPLOYMENT = <<your Embedding deployment name>>